html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  font-family: consolas;
  color: rgb(223, 212, 166);
  background-color: rgb(1, 25, 32);
  accent-color: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.red {
  color: rgb(214, 50, 0);
}
.yellow {
  color: rgb(231, 231, 31);
}
.blue {
  color: rgb(97, 204, 240);
}

.growsBigger {
  transition: all 0.5s;
  cursor: pointer;
}
.growsBigger:hover {
  font-size: 1.5em;
}

.textWithBackgroundImage {
  background-image: url("images/senegal.png");
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

/*
  https://codepen.io/alvarotrigo/pen/xxLvyOG
  oml thank goodness for this guy, love the animation
*/

.waivy:hover span{
  position: relative;
  display: inline-block;
  color: inherit;
  text-transform: uppercase;
  animation: waivy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waivy {
  0%,40%,100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

