@import url(https://fonts.googleapis.com/css2?family=Fira+Code:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

html {
  height: 100%;
  --text-color: rgb(223, 212, 166);
  --main-background-color: rgb(1, 25, 32);
}

body {
  height: 100%;
  text-align: center;
  font-family: consolas;
  color: var(--text-color);
  background-color: var(--main-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.red {
  color: rgb(255, 72, 16);
}
.yellow {
  color: rgb(231, 231, 31);
}
.blue {
  color: rgb(97, 204, 240);
}

.grows-bigger {
  transition: all 0.5s;
  cursor: pointer;
}
.grows-bigger:hover {
  font-size: 1.5em;
}

.text-with-background-image {
  background-image: url("images/senegal.png");
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

/*
  https://codepen.io/alvarotrigo/pen/xxLvyOG
  oml thank goodness for this guy, love the animation
*/

.waivy {
  font-family: "Fira Code", Consolas;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.waivy:hover span{
  position: relative;
  display: inline-block;
  color: inherit;
  animation: waivy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waivy {
  0%,40%,100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.moves-up {
  transition: all 0.5s;
}
.moves-up:hover {
  transform: translateY(-10px);
}

.langages-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  column-gap: 1.5em;
  grid-template-columns: auto auto auto;
}
.langage {
  text-align: left;
  width: 250px;
  color: inherit;
  border: 1px solid var(--text-color);
  border-radius: 1.5em;
  padding: 1em;
  padding-top: 1.65em;
}

/*
  https://codepen.io/silvia-odwyer/pen/RwKMOpb
  neon animation
*/

.langage:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
  box-shadow: 0 0 .2rem var(--accent-color),
              0 0 .2rem var(--accent-color),
              0 0 2rem var(--accent-color),
              0 0 0.8rem var(--accent-color),
              0 0 2.8rem var(--accent-color),
              inset 0 0 1.3rem var(--accent-color);
}
.langage-name {
  display: inline;
  position: relative;
  top: -25px;
  font-family: "Fira Code", Consolas;
}
.langage-logo {
  width: 5em;
  height: 5em;
}