html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  font-family: consolas;
  color: rgb(223, 212, 166);
  background-color: rgb(1, 25, 32);
  accent-color: none;
}

.red {
  color: rgb(214, 50, 0);
}
.yellow {
  color: rgb(231, 231, 31);
}
.blue {
  color: lightblue;
}