html {
  height: 100%;
}
body {
  height: 100%;
}

li {
  list-style-type: none;
}

.title {
  font-size: 6em;
}
.content {
  width: auto;
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
  margin-left: 60px;
}

.nav-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.nav-item {
  background-color: #EEEEEE;
  border-radius: 10px;
  width: 70px;
  height: auto;
  transition: all 0.4s; 
}
.nav-item:hover{
  transform: scaleY(110%) scaleX(110%);
}
.nav-item-selected {
  background-color: #8D11D6;
}

.nav-item-image {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.sides {
  margin: 10px 0 10px 0;
}