body {
    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: Consolas;
    text-align: center;
}

/* entirety of posts */
.posts {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
}
/* singular post */
.post {
    width: 600px;
    margin: 0 50%;
    background-color: var(--main-accent-color);
    border-radius: 1em;
    padding: 20px;
}
/* div of images in every post */
.postImages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.postImages img {
    width: 200;
    max-width: 100%;
    margin: 0 50%;
}